<div class="sidebar">
    <ul>
        <li (click)="onSelectSet('Bt1')">Bt1</li>
        <li (click)="onSelectSet('Bt2')">Bt2</li>
        <li (click)="onSelectSet('Bt3')">Bt3</li>
        <li (click)="onSelectSet('Bt4')">Bt4</li>
        <li (click)="onSelectSet('Bt5')">Bt5</li>
        <li (click)="onSelectSet('Bt6')">Bt6</li>
        <li (click)="onSelectSet('Bt7')">Bt7</li>
        <li (click)="onSelectSet('Bt8')">Bt8</li>
        <li (click)="onSelectSet('Bt9')">Bt9</li>
        <li (click)="onSelectSet('Bt10')">Bt10</li>
        <li (click)="onSelectSet('Bt11')">Bt11</li>
        <li (click)="onSelectSet('Bt12')">Bt12</li>
        <li (click)="onSelectSet('Bt13')">Bt13</li>
        <li (click)="onSelectSet('Bt14')">Bt14</li>
        <li (click)="onSelectSet('Ex1')">Ex1</li>
        <li (click)="onSelectSet('Ex2')">Ex2</li>
        <li (click)="onSelectSet('Ex3')">Ex3</li>
        <li (click)="onSelectSet('Ex4')">Ex4</li>
        <li (click)="onSelectSet('Ex5')">Ex5</li>
    </ul>
</div>
